<div class="centered_horizontal_flow_section">
  <div class="centered_vertical_flow_section tabs_holder">
    <div *ngIf="stockKeyStatsRetrieved && stockQuoteRetrieved && companyDetailsRetrieved">
      <div class="header_container">
        <span class="inline_centered">
          <button mat-icon-button color="primary" routerLink="/stocks" type="button">
            <i class="material-icons">arrow_back</i>
          </button>
        </span>
        <span class="x_large_font inline_centered">{{ companyName }} <span class="helper_text normal_font">({{ companySymbol }})</span> </span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="inline_centered"><img class="resize" src="{{ companyLogoUrl }}" alt="Company Logo"></span>
      </div>
      <div class="stock_detail_card">
        <mat-card>
          <table class = "table">
            <tr>
              <td class="table_cell" colspan="2" rowspan="2"><b> Description: </b> {{ companyDescription }}</td>
              <td class="table_cell"><b> Price: </b> {{ stockPrice?.toLocaleString() }} <span class="helper_text small_font">USD</span></td>
            </tr>
            <tr>
              <td class="table_cell"><b> Change:</b>
              <span class="price_increase" *ngIf="stockPriceChange > 0"> {{ stockPriceChange?.toLocaleString() }} ({{ stockPriceChangePercentage?.toLocaleString() }}%) </span>
                <span class="trend_position price_increase" *ngIf="stockPriceChange > 0"><i class="material-icons">trending_up</i></span>
                <span class=" price_decrease" *ngIf="stockPriceChange < 0"> {{ (- stockPriceChange)?.toLocaleString() }} ({{ (- stockPriceChangePercentage)?.toLocaleString() }}%) </span>
                <span class="trend_position price_decrease" *ngIf="stockPriceChange < 0"><i class="material-icons">trending_down</i></span>
                <span *ngIf="stockPriceChange == 0"> {{ stockPriceChange?.toLocaleString() }} ({{ stockPriceChangePercentage?.toLocaleString() }}%) </span>
                <span *ngIf="stockPriceChange == 0"><i class="material-icons">trending_flat</i></span>
              </td>
            </tr>
            <tr>
              <td class="table_cell" colspan="2" rowspan="2"><b> CEO:</b>  {{ companyCEO }}</td>
              <td class="table_cell"><b> 52 Week High:</b>  {{ week52high?.toLocaleString() }}</td>
            </tr>
            <tr>
              <td class="table_cell"><b> 52 Week Low: </b> {{ week52low?.toLocaleString() }}</td>
            </tr>
            <tr>
              <td class="table_cell" colspan="2" rowspan="2"><b> Industry: </b> {{ companyIndustry }}</td>
              <td class="table_cell"><b> Dividend Yield:</b>  {{ stockDividendYield?.toLocaleString() }}%</td>
            </tr>
            <tr>
              <td class="table_cell"><b> Market Capitalization: </b> {{ marketCapitalization }}</td>
            </tr>
            <tr>
              <td class="table_cell" colspan="2" rowspan="2"><b> Sector: </b> {{ companySector }}</td>
              <td class="table_cell"><b> Revenue: </b> {{ companyRevenue }}</td>
            </tr>
            <tr>
              <td class="table_cell"><b> Gross Profit: </b> {{ companyGrossProfit }}</td>
            </tr>
            <tr>
              <td class="table_cell" colspan="2" rowspan="2"><b> Website: </b> <a href="{{ companyWebsite }}" target="_blank">{{ companyWebsiteFormatted }}</a></td>
              <td class="table_cell"><b> Cash: </b> {{ companyCash }}</td>
            </tr>
            <tr>
              <td class="table_cell"><b> Debt: </b> {{ companyDebt }}</td>
            </tr>
            <tr>
              <td id="stockChartContainer" class="table_cell" colspan="3" *ngIf="stockPrices != []">
                <canvas baseChart width="400" height="400"
                        [datasets]="stockPrices"
                        [labels]="stockTimeLabels"
                        [options]="lineChartOptions"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
              </td>
            </tr>
            <tr>
              <td colspan="3" class="stock_time_period_list_holder">
                <div class="centered_horizontal_flow_section">
                  <div class="centered_vertical_flow_section tabs_holder">
                    <div class="button-row">
                      <button mat-mini-fab #5Y (click)="stockTimePeriodChanged('5Y')">5Y</button>
                      <button mat-mini-fab #2Y (click)="stockTimePeriodChanged('2Y')">2Y</button>
                      <button mat-mini-fab #1Y (click)="stockTimePeriodChanged('1Y')">1Y</button>
                      <button mat-mini-fab #6M (click)="stockTimePeriodChanged('6M')">6M</button>
                      <button mat-mini-fab #1M (click)="stockTimePeriodChanged('1M')">1M</button>
                      <button mat-mini-fab #1D (click)="stockTimePeriodChanged('1D')" color="primary">1D</button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </mat-card>
      </div>
    </div>
    <div *ngIf="!(stockKeyStatsRetrieved && stockQuoteRetrieved && companyDetailsRetrieved) && stockFound">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!stockFound">
      <div class="header_container">
        <button mat-button color="primary" routerLink="/stocks" type="button"> Back to Stocks</button>
      </div>
      <div class="header_container">
        No stock was found!
      </div>
    </div>
  </div>
</div>

