<div class="centered_horizontal_flow_section">
  <div class="centered_vertical_flow_section tabs_holder">
    <div *ngIf="stockKeyStatsRetrieved && stockQuoteRetrieved && companyDetailsRetrieved">
      <div class="header_container">
        <span>
          <button mat-icon-button color="primary" routerLink="/stocks" type="button">
            <i class="material-icons">arrow_back</i>
          </button>
        </span>
        <span class="x_large_font">{{ companyName }}</span> <span class="helper_text">({{ companySymbol }})</span>
        <span><img src="{{ companyLogoUrl }}" alt="Company Logo"></span>
      </div>
      <div class="stock_detail_card">
        <mat-card>
          <table class = "table">
            <tr>
              <td class="table_cell" colspan="2" rowspan="2">Description: {{ companyDescription }}</td>
              <td class="table_cell">Price: {{ stockPrice?.toLocaleString() }}</td>
            </tr>
            <tr>
              <td class="table_cell">Change:
                <span class="price_increase" *ngIf="stockPriceChange > 0"> {{ stockPriceChange?.toLocaleString() }} ({{ stockPriceChangePercentage?.toLocaleString() }}%) </span>
                <span class="trend_position price_increase" *ngIf="stockPriceChange > 0"><i class="material-icons">trending_up</i></span>
                <span class=" price_decrease" *ngIf="stockPriceChange < 0"> {{ (- stockPriceChange)?.toLocaleString() }} ({{ (- stockPriceChangePercentage)?.toLocaleString() }}%) </span>
                <span class="trend_position price_decrease" *ngIf="stockPriceChange < 0"><i class="material-icons">trending_down</i></span>
                <span *ngIf="stockPriceChange == 0"> {{ stockPriceChange?.toLocaleString() }} ({{ stockPriceChangePercentage?.toLocaleString() }}%) </span>
                <span *ngIf="stockPriceChange == 0"><i class="material-icons">trending_flat</i></span>
              </td>
            </tr>
            <tr>
              <td class="table_cell" colspan="2" rowspan="2">CEO: {{ companyCEO }}</td>
              <td class="table_cell">52 Week High: {{ week52high?.toLocaleString() }}</td>
            </tr>
            <tr>
              <td class="table_cell">52 Week Low: {{ week52low?.toLocaleString() }}</td>
            </tr>
            <tr>
              <td class="table_cell" colspan="2" rowspan="2">Industry: {{ companyIndustry }}</td>
              <td class="table_cell">Dividend Yield: {{ stockDividendYield?.toLocaleString() }}</td>
            </tr>
            <tr>
              <td class="table_cell">Market Capitalization: {{ marketCapitalization?.toLocaleString() }}</td>
            </tr>
            <tr>
              <td class="table_cell" colspan="2" rowspan="2">Sector: {{ companySector }}</td>
              <td class="table_cell">Revenue: {{ companyRevenue?.toLocaleString() }}</td>
            </tr>
            <tr>
              <td class="table_cell">Gross Profit: {{ companyGrossProfit?.toLocaleString() }}</td>
            </tr>
            <tr>
              <td class="table_cell" colspan="2" rowspan="2">Website: {{ companyWebsite }}</td>
              <td class="table_cell">Cash: {{ companyCash?.toLocaleString() }}</td>
            </tr>
            <tr>
              <td class="table_cell">Debt: {{ companyDebt?.toLocaleString() }}</td>
            </tr>
          </table>
        </mat-card>
      </div>
    </div>
    <div *ngIf="!(stockKeyStatsRetrieved && stockQuoteRetrieved && companyDetailsRetrieved)">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
