.centered_vertical_flow_section {
  display: flex;
  flex-wrap: wrap; /*TODO: consider without wrapping*/
  flex-direction: column;
  justify-content: center;
}

.centered_horizontal_flow_section {
  display: flex;
  flex-wrap: wrap; /*TODO: consider without wrapping*/
  justify-content: center;
}

.search_bar_query{
  width: 65%;
  padding: 5px;
}

.search_bar_button{
  padding-top: 15px;
}

.news_card{
  padding: 5px;
  min-width: 200px;
  max-width: 900px;
}

.load_more_button {
  padding: 5px;
}

.company_chips_container {
  padding-top: 5px;
}

.full_width {
  width: 100%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #3f51b5;
}

/* selected link */
a:active {
  color: #ff4081;
}

